@media(max-width:1400px){
    
}
@media(max-width:1280px){
    
}
@media(max-width:1210px){
   
}
@media (max-width:1100px){
.navigation-a{
    display: none;
}
.nav-a{
    display: none;
}
.section{
    height: 700px;;
}
}
@media(max-width:1050px){
    
}
@media(max-width:995px){
    
}
@media(max-width:930px){
   
}
@media (max-width:800px){
    .logo{
        width: 300px;
    }
    

    
}
@media(max-width:770px){
    .places{
        font-size: 20px;
    }
    .tickets{
        font-size: 16px;
    }
    .center{
        text-align: center !important;
    }
   
}
@media(max-width:760px){
    .height{
        height: 250px !important;
    }
}
@media(max-width:700px){
   

}
@media (max-width:630px){
    .logo{
        width: 180px;
    }
}
@media(max-width:530px){
    .logo{
        width: 160px;
    }
    .tours{
        font-size: 30px;
    }
    .section{
        height: 600px;;
    }
}
@media (max-width:490px){
    .logo{
        width: 150px;
        margin-right: 20px;
    }
    .places{
        font-size: 15px;
    }
}
@media(max-width:470px){
     .tickets{
         font-size: 15px;
     }
     .ticket{
         font-size: 15px;
     }
}
@media(max-width:450px){
    .logo{
        width: 120px;
        margin-top: 40px;
    }
    .fas fa-bars{
        font-size: 10px;
    }
}
@media(max-width:420px){
    .navigation-li{
        margin-right: 10px;
    }
    .nav-li{
        margin-right: 10px;
    }
}
@media (max-width:380px){
    .navigation-li{
        margin-right: 15px;
    }
    .nav-li{
        margin-right:15px;
    }
}
@media(max-width:335px){
.logo{
    width: 80px;;
} 
.tours{
    font-size: 20px;
}   

}